projet_v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http:/wic.uga.fr/ns"
xmlns="http://wic.uga.fr/ns"
elementFormDefault="qualified">

	<xsd:element name="grille" type="grilleType" />
	
	<xsd:complexType name="grilleType">
		<xsd:element name="colonne">
			<xsd:complexType>
				<xsd:attribute name="numCol" value="1"/>
				<xsd:sequence>
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="1"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="2"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="3"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="4"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="5"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="6"/>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
			<xsd:element name="colonne">
			<xsd:complexType>
				<xsd:attribute name="numCol" value="2"/>
				<xsd:sequence>
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="1"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="2"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="3"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="4"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="5"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="6"/>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
			<xsd:element name="colonne">
			<xsd:complexType>
				<xsd:attribute name="numCol" value="3"/>
				<xsd:sequence>
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="1"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="2"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="3"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="4"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="5"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="6"/>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
			<xsd:element name="colonne">
			<xsd:complexType>
				<xsd:attribute name="numCol" value="4"/>
				<xsd:sequence>
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="1"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="2"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="3"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="4"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="5"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="6"/>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
			<xsd:element name="colonne">
			<xsd:complexType>
				<xsd:attribute name="numCol" value="5"/>
				<xsd:sequence>
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="1"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="2"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="3"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="4"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="5"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="6"/>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
			<xsd:element name="colonne">
			<xsd:complexType>
				<xsd:attribute name="numCol" value="6"/>
				<xsd:sequence>
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="1"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="2"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="3"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="4"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="5"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="6"/>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
			<xsd:element name="colonne">
			<xsd:complexType>
				<xsd:attribute name="numCol" value="7"/>
				<xsd:sequence>
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="1"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="2"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="3"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="4"/>
					</xsd:element>

					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="5"/>
					</xsd:element>
					
					<xsd:element name="ligne" type="xsd:string">
						<xsd:attribute name="joueur" type="xsd:boolean"/>
						<xsd:attribute name="coup" type="xsd:integer"/>
						<xsd:attribute name="niveau" type="xsd:integer" value="6"/>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
	</xsd:complexType>
	
</xsd:schema>